p.bg-info(style="padding: 4px 8px; font-size: 80%;")
    | Profanity filter for subscription and donation notifications.
    br
    br
    | Anything caught by the filter will be shown on the dashboard for you to accept/reject.
.btn-group.btn-group-justified
    .btn-group
        button.btn.btn-primary.btn-xs(data-toggle="modal" data-target="#eol-filter_word") Manage word filter
.btn-group.btn-group-justified(style="margin-top: 4px;")
    .btn-group
        button.btn.btn-primary.btn-xs(data-toggle="modal" data-target="#eol-filter_address") Manage email filter

#eol-filter_word.modal.fade
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type="button", data-dismiss="modal")
                    span(aria-hidden="true") &#215;
                    span.sr-only Close
                h4.modal-title Word Filter
            .modal-body
                .ncg-label ADD/DELETE WORDS, SEPARATE WITH COMMA
                select.blacklist(multiple)
            .modal-footer
                button.btn.btn-default.btn-xs(type="button", data-dismiss="modal") Done
        // /.modal-content
    // /.modal-dialog
// /.modal

#eol-filter_address.modal.fade
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type="button", data-dismiss="modal")
                    span(aria-hidden="true") &#215;
                    span.sr-only Close
                h4.modal-title Address Filter
            .modal-body
                .ncg-label ADD/DELETE ADDRESSES, SEPARATE WITH COMMA
                select.blacklist(multiple)
            .modal-footer
                button.btn.btn-default.btn-xs(type="button", data-dismiss="modal") Done
        // /.modal-content
    // /.modal-dialog
// /.modal